body {
  background-color: black;
}
* {
  font-family: "Avenir";
  color: white;
}
section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: table-cell;
  margin-top: 200px;
  vertical-align: middle;
  width: 100%;
}
.profile {
  width: 5%;
  border-radius: 50%;
  display: block;
  margin: 100px auto;
}
button {
  display: block;
  width: 25%;
  cursor: pointer;
  padding: 12px 10px;
  font-size: 12px;
  border-radius: 5px;
  color: black;
  margin: 10px auto;
  border: 2px solid white;
  background-color: white;
  transition: all 0.5s;
}
button:hover {
  background-color: black;
  color: white;
  transition: all 0.5s;
}

@media (max-width: 1025px) {
  .profile {
    width: 25%;
  }
  button {
    width: 95%;
  }
}
